![](https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=3808312407,19379362&fm=26&gp=0.jpg)

In [1]:
# 空数据处理，属于数据清洗的一部分,即数据预处理的一个方面
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

from pandas import Series,DataFrame

In [2]:
df = DataFrame(np.random.randint(0,150,size = (150,3)), columns = ['Python','Math','English'])
df

     Python  Math  English
0       116    18      146
1        35    65       69
2        22     2       41
3        49   123      110
4        49    81       94
5        96     4       51
6        74    91        6
7         7    92       22
8       149    65       58
9       113    64      140
10      118    65        3
11      118   127      104
12       23   117       74
13       75   136       13
14      145    90       31
15       20    91      148
16       38    51      134
17      115   132       29
18      135   127       85
19      123   148       48
20       60    63      130
21        3     4       69
22       76    41      147
23       45   144       58
24       66    77      140
25       74    88      101
26      142    31      138
27      131    13       63
28      128   133       45
29      109   139       88
..      ...   ...      ...
120      60     2      137
121       5     5      144
122      24    46       86
123      54    41      136
124      52    75        4
125     147   143       62
126      88    74       70
127     126    31       46
128     115    79       60
129       2    48       65
130      68    93        7
131      69    56       48
132      22    49        6
133      16    26       70
134      39    18       17
135      98    27       93
136      20   105      125
137     112   120      137
138      65    43       98
139      94    51       60
140     149    38       92
141      16   124        6
142     107    11       85
143     132    93       30
144     135   109       97
145     130   141      107
146      97    93       41
147      40    25        4
148      31   129       85
149      93    30        0

[150 rows x 3 columns]

In [4]:
for i in range(15):
    index = np.random.randint(0,150,size = 1)[0]
    column = np.random.randint(0,3,size = 1)[0]
    df.iloc[index,column] = None

In [5]:
df

     Python   Math  English
0      96.0  102.0     28.0
1      59.0   86.0     28.0
2       5.0  118.0     52.0
3      72.0   51.0     58.0
4      29.0   76.0     86.0
5     100.0  130.0    141.0
6      84.0   13.0     28.0
7      30.0   18.0     66.0
8     137.0  138.0     64.0
9      59.0   85.0     64.0
10     77.0   30.0      3.0
11     75.0    NaN     43.0
12    139.0  147.0     37.0
13     35.0   79.0    103.0
14     54.0  111.0     46.0
15     34.0  120.0     35.0
16     59.0   98.0     15.0
17     44.0   21.0      3.0
18    120.0   81.0     98.0
19    106.0   78.0     58.0
20     56.0   39.0    148.0
21     95.0   38.0     22.0
22    133.0   12.0    121.0
23    114.0    5.0    139.0
24     40.0  105.0    143.0
25     62.0   26.0     31.0
26    131.0   88.0     69.0
27     93.0   49.0     33.0
28    112.0   77.0     40.0
29     59.0  104.0     25.0
..      ...    ...      ...
120    82.0   18.0    135.0
121   135.0  106.0    126.0
122    23.0   25.0    135.0
123    13.0   69.0     80.0
124   135.0   90.0     51.0
125    92.0   34.0    148.0
126    97.0    3.0     88.0
127    82.0  128.0     39.0
128     7.0  132.0     68.0
129    51.0   39.0     99.0
130   100.0    NaN    128.0
131   105.0   20.0      1.0
132    29.0   68.0    147.0
133    44.0  107.0    129.0
134    39.0   53.0     55.0
135    43.0    7.0      NaN
136   149.0   21.0    135.0
137    41.0   73.0     58.0
138    98.0    NaN      NaN
139     9.0    9.0    117.0
140    49.0   75.0     16.0
141   104.0   71.0    137.0
142    88.0  121.0    108.0
143    89.0   60.0     15.0
144    16.0    NaN    136.0
145    92.0    5.0     88.0
146   119.0   88.0     66.0
147    52.0   65.0    114.0
148    86.0   28.0     85.0
149   101.0  107.0    135.0

[150 rows x 3 columns]

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 3 columns):
Python     148 non-null float64
Math       141 non-null float64
English    146 non-null float64
dtypes: float64(3)
memory usage: 3.6 KB

处理空数据第一步，定义空数据

In [10]:
cond = df.isnull().any(axis = 1)
df[cond]

     Python   Math  English
11     75.0    NaN     43.0
37     17.0    NaN     81.0
39     34.0  124.0      NaN
50     89.0    NaN     49.0
52    132.0    NaN    117.0
69     62.0    NaN     73.0
82    129.0    NaN     75.0
83     50.0   89.0      NaN
95      NaN  130.0     77.0
97      NaN  107.0    129.0
130   100.0    NaN    128.0
135    43.0    7.0      NaN
138    98.0    NaN      NaN
144    16.0    NaN    136.0

处理空数据，当空数据不多时，直接删除

In [11]:
# 非空数据
cond = df.notnull().all(axis = 1)

df[cond]

     Python   Math  English
0      96.0  102.0     28.0
1      59.0   86.0     28.0
2       5.0  118.0     52.0
3      72.0   51.0     58.0
4      29.0   76.0     86.0
5     100.0  130.0    141.0
6      84.0   13.0     28.0
7      30.0   18.0     66.0
8     137.0  138.0     64.0
9      59.0   85.0     64.0
10     77.0   30.0      3.0
12    139.0  147.0     37.0
13     35.0   79.0    103.0
14     54.0  111.0     46.0
15     34.0  120.0     35.0
16     59.0   98.0     15.0
17     44.0   21.0      3.0
18    120.0   81.0     98.0
19    106.0   78.0     58.0
20     56.0   39.0    148.0
21     95.0   38.0     22.0
22    133.0   12.0    121.0
23    114.0    5.0    139.0
24     40.0  105.0    143.0
25     62.0   26.0     31.0
26    131.0   88.0     69.0
27     93.0   49.0     33.0
28    112.0   77.0     40.0
29     59.0  104.0     25.0
30     76.0  105.0      4.0
..      ...    ...      ...
116    35.0   81.0    106.0
117    27.0   94.0    111.0
118    45.0   73.0     23.0
119    16.0   75.0     73.0
120    82.0   18.0    135.0
121   135.0  106.0    126.0
122    23.0   25.0    135.0
123    13.0   69.0     80.0
124   135.0   90.0     51.0
125    92.0   34.0    148.0
126    97.0    3.0     88.0
127    82.0  128.0     39.0
128     7.0  132.0     68.0
129    51.0   39.0     99.0
131   105.0   20.0      1.0
132    29.0   68.0    147.0
133    44.0  107.0    129.0
134    39.0   53.0     55.0
136   149.0   21.0    135.0
137    41.0   73.0     58.0
139     9.0    9.0    117.0
140    49.0   75.0     16.0
141   104.0   71.0    137.0
142    88.0  121.0    108.0
143    89.0   60.0     15.0
145    92.0    5.0     88.0
146   119.0   88.0     66.0
147    52.0   65.0    114.0
148    86.0   28.0     85.0
149   101.0  107.0    135.0

[136 rows x 3 columns]

In [12]:
# 删除空数据
df.dropna()

     Python   Math  English
0      96.0  102.0     28.0
1      59.0   86.0     28.0
2       5.0  118.0     52.0
3      72.0   51.0     58.0
4      29.0   76.0     86.0
5     100.0  130.0    141.0
6      84.0   13.0     28.0
7      30.0   18.0     66.0
8     137.0  138.0     64.0
9      59.0   85.0     64.0
10     77.0   30.0      3.0
12    139.0  147.0     37.0
13     35.0   79.0    103.0
14     54.0  111.0     46.0
15     34.0  120.0     35.0
16     59.0   98.0     15.0
17     44.0   21.0      3.0
18    120.0   81.0     98.0
19    106.0   78.0     58.0
20     56.0   39.0    148.0
21     95.0   38.0     22.0
22    133.0   12.0    121.0
23    114.0    5.0    139.0
24     40.0  105.0    143.0
25     62.0   26.0     31.0
26    131.0   88.0     69.0
27     93.0   49.0     33.0
28    112.0   77.0     40.0
29     59.0  104.0     25.0
30     76.0  105.0      4.0
..      ...    ...      ...
116    35.0   81.0    106.0
117    27.0   94.0    111.0
118    45.0   73.0     23.0
119    16.0   75.0     73.0
120    82.0   18.0    135.0
121   135.0  106.0    126.0
122    23.0   25.0    135.0
123    13.0   69.0     80.0
124   135.0   90.0     51.0
125    92.0   34.0    148.0
126    97.0    3.0     88.0
127    82.0  128.0     39.0
128     7.0  132.0     68.0
129    51.0   39.0     99.0
131   105.0   20.0      1.0
132    29.0   68.0    147.0
133    44.0  107.0    129.0
134    39.0   53.0     55.0
136   149.0   21.0    135.0
137    41.0   73.0     58.0
139     9.0    9.0    117.0
140    49.0   75.0     16.0
141   104.0   71.0    137.0
142    88.0  121.0    108.0
143    89.0   60.0     15.0
145    92.0    5.0     88.0
146   119.0   88.0     66.0
147    52.0   65.0    114.0
148    86.0   28.0     85.0
149   101.0  107.0    135.0

[136 rows x 3 columns]

In [14]:
# 按指定索引删除空数据
cond = df.isnull().any(axis = 1)
index = df[cond].index

df1 = df.drop(labels = index)

同理可以进行数值过滤，清洗掉较小、较大、或均值不满足条件的数据

In [16]:
cond = (df1 < 60).any(axis = 1)

index = df1[cond].index

df1.drop(labels = index)

     Python   Math  English
5     100.0  130.0    141.0
8     137.0  138.0     64.0
18    120.0   81.0     98.0
26    131.0   88.0     69.0
36     62.0   66.0    111.0
43     86.0  145.0     65.0
47    100.0  131.0    130.0
48    138.0  103.0    103.0
49    115.0   67.0    103.0
53     75.0   82.0    117.0
56    112.0  106.0    105.0
58     88.0  147.0    139.0
59    134.0   85.0    147.0
60     84.0   79.0    114.0
64    139.0   94.0    105.0
65     66.0  121.0    127.0
68     72.0   68.0     77.0
74    137.0  106.0    102.0
77    128.0  124.0    125.0
81     82.0  132.0     63.0
85     86.0  101.0     98.0
86    106.0   98.0     66.0
89    135.0  116.0     67.0
98    142.0  120.0    145.0
99     69.0   68.0     92.0
103    92.0  142.0    139.0
104    93.0  107.0     61.0
108    61.0   90.0    107.0
109    83.0  111.0    148.0
114   128.0   83.0    120.0
121   135.0  106.0    126.0
141   104.0   71.0    137.0
142    88.0  121.0    108.0
146   119.0   88.0     66.0
149   101.0  107.0    135.0

In [17]:
cond = (df1.mean(axis = 1) < 90)

index = df1[cond].index

df1.drop(labels = index)

     Python   Math  English
5     100.0  130.0    141.0
8     137.0  138.0     64.0
12    139.0  147.0     37.0
18    120.0   81.0     98.0
24     40.0  105.0    143.0
26    131.0   88.0     69.0
34    118.0   31.0    125.0
41    134.0  111.0     27.0
43     86.0  145.0     65.0
47    100.0  131.0    130.0
48    138.0  103.0    103.0
49    115.0   67.0    103.0
53     75.0   82.0    117.0
56    112.0  106.0    105.0
58     88.0  147.0    139.0
59    134.0   85.0    147.0
60     84.0   79.0    114.0
64    139.0   94.0    105.0
65     66.0  121.0    127.0
72     44.0  149.0    129.0
74    137.0  106.0    102.0
77    128.0  124.0    125.0
79    137.0   37.0    139.0
81     82.0  132.0     63.0
85     86.0  101.0     98.0
86    106.0   98.0     66.0
89    135.0  116.0     67.0
93    136.0   19.0    124.0
98    142.0  120.0    145.0
103    92.0  142.0    139.0
109    83.0  111.0    148.0
110   137.0  131.0     32.0
114   128.0   83.0    120.0
121   135.0  106.0    126.0
124   135.0   90.0     51.0
125    92.0   34.0    148.0
133    44.0  107.0    129.0
136   149.0   21.0    135.0
141   104.0   71.0    137.0
142    88.0  121.0    108.0
146   119.0   88.0     66.0
149   101.0  107.0    135.0

In [18]:
cond1 = df1.mean(axis = 1) < 60
cond2 = df1.mean(axis = 1) > 120

cond = cond1 | cond2

df1[cond]

     Python   Math  English
1      59.0   86.0     28.0
2       5.0  118.0     52.0
5     100.0  130.0    141.0
6      84.0   13.0     28.0
7      30.0   18.0     66.0
10     77.0   30.0      3.0
16     59.0   98.0     15.0
17     44.0   21.0      3.0
21     95.0   38.0     22.0
25     62.0   26.0     31.0
27     93.0   49.0     33.0
32      9.0   87.0     59.0
47    100.0  131.0    130.0
51     94.0   35.0      1.0
58     88.0  147.0    139.0
59    134.0   85.0    147.0
61     66.0   92.0     10.0
62      3.0   87.0     38.0
66     69.0   37.0      1.0
67     71.0   30.0     37.0
70     12.0   78.0     81.0
73     50.0   29.0     34.0
75     31.0   15.0      6.0
77    128.0  124.0    125.0
84     14.0   63.0     73.0
91     35.0   80.0     20.0
98    142.0  120.0    145.0
100    15.0   10.0     13.0
101    15.0  117.0     23.0
102    29.0    7.0     72.0
103    92.0  142.0    139.0
112    57.0   39.0     82.0
118    45.0   73.0     23.0
119    16.0   75.0     73.0
121   135.0  106.0    126.0
123    13.0   69.0     80.0
131   105.0   20.0      1.0
134    39.0   53.0     55.0
137    41.0   73.0     58.0
139     9.0    9.0    117.0
140    49.0   75.0     16.0
143    89.0   60.0     15.0

#np.nan
#np.nan是浮点类型的数，能够参与到计算中，但是计算结果总是NaN

可以使用np.nan*()函数计算NaN，此时NaN取值为0参与计算

In [3]:
df = DataFrame(np.random.randint(0,150,size = (6,3)), columns = ['Python','English', 'Math'])

In [4]:
df['Python'][0] = None

df['English'][2] = np.NaN

df

C:\Users\Administrator\anaconda\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\Administrator\AppData\Roaming\Python\Python37\site-packages\pandas\core\indexing.py:190: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

   Python  English  Math
0     NaN     85.0   105
1    41.0    113.0    65
2    15.0      NaN   139
3    43.0     51.0   121
4    17.0    142.0    77
5   132.0    114.0     9

使用“假数据”对空数据进行填充时，应尽量使用更为合理的数值代替空值

In [5]:
df.fillna(value = df.mean())

   Python  English  Math
0    49.6     85.0   105
1    41.0    113.0    65
2    15.0    101.0   139
3    43.0     51.0   121
4    17.0    142.0    77
5   132.0    114.0     9

In [6]:
'''
常见的填充方式有：
    前置填充、后置填充
    中位数、均值、众数、局部平均
    算法填充、拉格朗日中值（主要采用Scipy中已经存在的算法）
'''

'\n常见的填充方式有：\n    前置填充、后置填充\n    中位数、均值、众数、局部平均\n    算法填充、拉格朗日中值（主要采用Scipy中已经存在的算法）\n'